.sidebar {
    width: 232px;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2A3647;
    font-family: 'Inter', sans-serif;
    z-index: 3;
    font-weight: 400;
}

.sidebar a {
    font-size: 16px;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    height: 229px;
    width: 232px;
    gap: 8px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 46px;
    padding: 0px 30px 1px 50px;
    color: #CDCDCD;
    cursor: pointer;
}

.sidebar-menu img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-bottom: 64px;
    width: 232px;
}

.sidebar-bottom a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 35px;
    text-decoration: none;
    color: #A8A8A8;
    cursor: pointer;
}

.sidebar-bottom img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.sidebar-bottom span {
    font-size: 16px;
    /* font-weight: 400; */
    width: 110px;
}

.menu-item:hover {
    background-color: #2a3d59;
    transition: .1s ease-in-out;
}

.bg-dark {
    background-color: #091931 !important;
}

.bg-dark-legal-notice {
    background-color: #091931 !important;
    color: #A8A8A8 !important;
}

.white {
    color: #FFFFFF !important;

}

.dNone {
    display: none;
}