.body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 96px 0 0 328px;
    font-family: 'Inter', sans-serif;
}

.headline-h1 h1 {
    margin: 0 !important;
}

.headline-h1 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 80px 0 0 10px;
    background-color: #F6F7F8;
    margin-bottom: 30px;
}

.headline-h1 span {
    font-size: 27px;
    padding-right: 3px;
}

.summary-content {
    display: flex;
}

.summery-elements {
    display: flex;
    flex-direction: column;
}

.summery-container {
    display: flex;
    justify-content: space-between;
    max-width: 580px;
}

.tasks-top {
    width: 168px;
    height: 168px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2A3647;
    text-align: center;
    margin: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.task-text {
    font-size: 20px;
    color: #2A3647;
}

.task-middle {
    width: 100%;
    height: 168px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 61px;
    text-decoration: none;
    color: #2A3647;
    margin: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.summary-field {
    display: flex;
    justify-content: space-around;
    gap: 18px;
    margin-left: 65px;
    text-align: center;
    position: relative;
}

.font-16 {
    font-size: 16px;
    color: #2A3647;
}

.task-bottom {
    width: 100%;
    height: 168px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 61px;
    text-decoration: none;
    color: #2A3647;
    margin: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.greet-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

#greeting-time {
    font-size: 47px;
    font-weight: 500;
}

.blue-text {
    color: #29ABE2;
}

.backgroundBlack:hover {
    background-color: #2A3647;
}

.tasks-top:hover h2,
.tasks-top:hover .task-text {
    color: white;
}

.task-middle:hover h2,
.task-middle:hover h3,
.task-middle:hover .font-16 {
    color: white;
}

.task-bottom:hover h2,
.task-bottom:hover .font-16 {
    color: white;
}

.box-left {
    transform-origin: right center;
    transition: 0.1s ease-in-out;
}

.box-left:hover {
    transform: scaleX(1.05) scaleY(1.05) translateX(5%);
}

.box-middle:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

.box-right {
    transform-origin: left center;
    transition: 0.1s ease-in-out;
}

.box-right:hover {
    transform: scaleX(1.05) scaleY(1.05) translateX(-5%);
}

.task-bottom-img1 {
    position: absolute;
    left: 24px;
    top: 30px;
}

.task-bottom-img2 {
    position: absolute;
    left: 15px;
    top: 32px;
}

.seperator-responsiv {
    display: none;
    transform: rotate(90deg);
}

.seperator-deadline {
    height: 100px;
    width: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px
}

.headline-h1 h1 {
    margin-bottom: unset;
    margin-block-end: 0.67em;
}


.greeting-time-responsive {
    display: flex !important;
    opacity: 1;
    animation: greetingTimeResponsive 0.5s ease-in-out 1.8s forwards;
}

@keyframes greetingTimeResponsive {
    to {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 1300px) {
    #greeting-time {
        font-size: 38px;
    }

    .greeting h1 {
        font-size: 52px;
    }

    .headline-h1 h1 {
        font-size: 47px;
    }

    .summery-container {
        max-width: 480px;
    }

    .tasks-top {
        width: 140px;
        height: 140px;
    }

    .summary-field {
        margin-left: 36px;
    }

    .task-middle {
        gap: 32px;
    }
}

@media (max-width: 1250px) {
    .body {
        margin: 96px 30px 0 260px;
    }

    #greeting-time,
    .greeting h1 {
        display: none;
    }
}

@media(max-width: 900px) {
    .headline-h1 {
        gap: 15px;
    }

    .headline-h1 span {
        font-size: 22px;
    }
}

@media(max-width: 800px) {
    .body {
        margin: 20px 0 70px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 50px;
    }

    .headline-h1 span {
        font-size: 20px;
    }

    #greeting-time-responsive {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 36px;
        font-family: 'Inter', sans-serif;
    }

    .summeryLogIn {
        opacity: 0;
        animation: logInText 0.5s ease-in-out 2s forwards;
    }

    @keyframes logInText {
        to {
            opacity: 1;
        }
    }

    .greet-section {
        display: none;
    }
}

@media (max-height: 880px) {
    .headline-h1 {
        margin: 24px 0 24px 10px;
    }

    h2 {
        font-size: 47px;
    }

    .tasks-top {
        width: 120px;
        height: 120px;
    }

    .task-middle {
        height: 120px;
        gap: 24px;
    }

    .task-bottom {
        height: 120px;
    }

    .summery-elements {
        max-width: 480px;
    }

    .summary-field {
        margin-left: 28px;
    }

    .task-bottom-img2,
    .task-bottom-img1 {
        top: 24px;
    }

    .greeting h1 {
        margin-top: 16px;
    }
}

@media (max-height: 720px) {
    .headline-h1 {
        margin-top: 0;
    }

    .tasks-top {
        height: 110px;
        width: 110px;
    }

    .task-middle {
        height: 110px;
    }

    .task-bottom {
        height: 110px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 16px;
    }

    .task-text {
        font-size: 16px;
    }

    .summary-field {
        margin-left: 20px;
    }

    .summary-field img {
        width: 60px;
        height: 60px;
    }

    .summary-field .task-bottom-img1 {
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
    }

    .summary-field .task-bottom-img2 {
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
    }
}

@media(max-width: 720px) {
    .body {
        margin: 0 32px;
        align-items: flex-start;
    }

    .headline-h1 {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        margin-left: 10px;
        margin-top: 24px;
    }

    .headline-h1 h1 {
        margin-block-end: 0;
    }

    .seperator {
        display: none;
    }

    .seperator-responsiv {
        display: inline;
        position: absolute;
        top: 65px;
        left: 30px;
    }
}

@media(max-width: 530px) {
    .body {
        margin: 0 12px;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 40px;
    }

    .headline-h1 span {
        font-size: 16px;
    }

    h2 {
        font-size: 40px;
    }

    .task-text {
        font-size: 13px;
    }

    .summery-elements {
        width: 420px;
    }

    .task-middle {
        gap: 18px;
        height: 130px;
    }

    .summary-field img {
        height: 48px;
        /* object-fit: cover; */
    }

    .summary-field .task-bottom-img1 {
        top: 21px;
    }

    .summary-field .task-bottom-img2 {
        top: 21px;
    }

    .summary-field {
        align-items: center;
        margin-left: 19px;
    }

    .task-bottom-img2 {
        height: 25px !important;
        left: 9px;
        top: 22px;
    }

    .task-bottom-img1 {
        position: absolute;
        left: 14px;
        top: 21px;
        height: 27px !important;
    }

    .tasks-top {
        height: 110px;
    }

    .body {
        position: relative;
        height: fit-content;
        margin: 116px 12px;
    }

    .task-bottom {
        height: 140px;
    }

    h3 {
        margin-block-start: 0;
    }

    .headline-h1 {
        margin: 0 0 40px 10px;
    }

    .seperator-responsiv {
        top: 65px;
        left: 33px;
    }

    .seperator-deadline {
        height: 80px;
    }

}

@media (max-width: 440px) {
    .summery-elements {
        width: 380px;
    }
}

@media(max-width: 400px) {
    .summery-elements {
        width: 370px;
    }

    .task-bottom {
        height: 100px;
    }

    .task-middle {
        height: 100px;
    }

    .seperator-deadline {
        height: 60px;
    }

    .font-16 {
        font-size: 14px;
    }

    h3 {
        font-size: 16px;
    }

    .body {
        margin: 90px 8px;
        overflow: hidden;
    }

    .header-responsive {
        padding: 16px;
    }

    .headline-h1 {
        margin-bottom: 20px;
    }

    .headline-h1 h1 {
        font-size: 40px;
    }

    .seperator-responsiv {
        top: 55px;
        left: 30px;
    }
}

@media (max-width: 380px) {
    .summery-elements {
        width: 350px;
    }
}