 <header>
    <div class="header-responsive">
        <img class="header-responsive-logo" src="assets/image/join-logo.svg" alt="Join Logo">
        <div class="header-right">
            <div id="myAccount-responsive" onclick="ShowMenuResponsive()"></div>
            <div onclick="closeMenuResponsive()" id="overlay-responsive" class="dNone"></div>
        </div>
    </div>
 </header>

 <div id="header-menu-responsive" class="header-menu hidden">
    <div class="header-subMenu">
        <a href="/legal-notice.html">Legal Notice</a>
        <a href="index.html">Log out</a>
    </div>
</div>