<header>
    <div class="header">
        <div class="header-left">
            <span>Kanban Project Management Tool</span>
        </div>
        <div onclick="closeMenu()" id="overlay" class="dNone"></div>

        <div class="header-right" id="header-icon">
            <a onclick="openHelp()">
                <img
                    class="help"
                    src="assets/image/sidebar/help.svg"
                    alt="Help Icon"
                />
            </a>
            <div id="myAccount" onclick="ShowMenu()"></div>
        </div>
    </div>
</header>


<div id="header-menu" class="header-menu dNone">
    <div class="header-subMenu">
        <a href="./legal-notice.html">Legal Notice</a>
        <a href="index.html">Log out</a>
    </div>
</div>


