<div id="sidebar-menu" class="sidebar-menu-responsive">
    <a id="menu-responsive-link0" class="menu-item-responsive" onclick="openSummary()">
        <p>
            <img id="menu-responsive-img0" src="assets/image/sidebar/menu-0.svg" alt="Summary Logo"/>
        </p>
        <span>Summary</span>
    </a>
    <a id="menu-responsive-link1" class="menu-item" onclick="openAddTask()">
        <p>
            <img id="menu-responsive-img1" src="assets/image/sidebar/menu-1.svg" alt="Board Logo"/>
        </p>
        <span>Add Task</span>
    </a>
    <a id="menu-responsive-link2" class="menu-item" onclick="openBoard()">
        <p>
            <img id="menu-responsive-img2" src="assets/image/sidebar/menu-2.svg" alt="Add Task Logo"/>
        </p>
        <span>Board</span>
    </a>
    <a id="menu-responsive-link3" class="menu-item" onclick="openContacts()">
        <p>
            <img id="menu-responsive-img3" src="assets/image/sidebar/menu-3.svg" alt="Contact Logo"/>
        </p>
        <span>Contacts</span>
    </a>
</div>


